


.work-item-form-main-core {
    background-color: rgba(248,248,248,1);
    background-color: rgba(var(--palette-neutral-2,248, 248, 248),1);
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(234,234,234,1);
    border-color: rgba(var(--palette-neutral-8,234, 234, 234),1);
    padding-top: 8px;
}

/* CSS file: WorkItemTracking/Controls/WorkItemForm/Comments/CommentEditor */
.wit-comment-editor{display:flex;flex-direction:column}.wit-comment-editor .html-editor .rooster-wrapper{border-radius:5px}.wit-comment-editor .html-editor .rooster-wrapper .rooster-editor{padding:4px 7px}.wit-comment-editor .comment-message-button-area{display:flex;justify-content:flex-end;margin-bottom:12px;padding:10px 3px 0}.wit-comment-editor .editor-cancel-button{margin-right:7px}

/* CSS file: WorkItemTracking/Controls/WorkItemForm/Comments/CommentReactionSelector */
.wit-reaction-selection-container{display:inline-block;margin:4px;background-color:rgba(255,255,255,1);background-color:var(--background-color,rgba(255, 255, 255, 1));border:1px solid;border-color:rgba(234,234,234,1);border-color:rgba(var(--palette-neutral-8,234, 234, 234),1);border-radius:2px}.wit-reaction-selection-container .reaction-button-item{font-family:"Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";background-color:rgba(255,255,255,1);background-color:var(--background-color,rgba(255, 255, 255, 1));min-width:26px;height:40px;width:40px}.wit-reaction-selection-container .reaction-button-item:hover{background-color:rgba(234,234,234,1);background-color:rgba(var(--palette-neutral-8,234, 234, 234),1)}

/* CSS file: WorkItemTracking/Controls/WorkItemForm/Comments/CommentReactionStatusBar */
.wit-reaction-status-container{display:flex;padding-bottom:12px}.wit-reaction-status-container .reaction-status-button{border:1px solid;border-color:rgba(234,234,234,1);border-color:rgba(var(--palette-neutral-8,234, 234, 234),1);border-radius:2px;margin-right:8px;font-family:"Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:15px;background-color:rgba(255,255,255,1);background-color:var(--background-color,rgba(255, 255, 255, 1));padding:3px;height:30px}.wit-reaction-status-container .reaction-status-button.reaction-status-button-readonly{cursor:default}.wit-reaction-status-container .reaction-status-button:hover{background-color:rgba(234,234,234,1);background-color:rgba(var(--palette-neutral-8,234, 234, 234),1)}.wit-reaction-status-container .reaction-status-button.reaction-status-user-engaged{background-color:rgba(222,236,249,1);background-color:rgba(var(--palette-primary-tint-30,222, 236, 249),1);border:1px solid rgba(0,120,212,1);border:1px solid var(--communication-background,rgba(0, 120, 212, 1))}.wit-reaction-status-container .reaction-status-button.reaction-status-user-engaged:hover{background-color:rgba(234,234,234,1);background-color:rgba(var(--palette-neutral-8,234, 234, 234),1)}.wit-reaction-status-container .reaction-status-button .reaction-status-info-container span{min-width:26px;padding:2px}.wit-reaction-status-container .reaction-status-button.reaction-status-new-selector-btn{border:1px solid;border-color:rgba(234,234,234,1);border-color:rgba(var(--palette-neutral-8,234, 234, 234),1);padding:0;width:40px}.wit-reaction-status-container .reaction-status-button.reaction-status-new-selector-btn button{padding:5px 6px}.wit-userlist-tooltip .user-list{margin:0;padding:0;list-style:none}.wit-userlist-tooltip .user-list .userlist-item{padding:2px}

/* CSS file: WorkItemTracking/Controls/WorkItemForm/Comments/CommentViewer */
.wit-comment-viewer{border:1px solid;border-color:rgba(234,234,234,1);border-color:rgba(var(--palette-neutral-8,234, 234, 234),1);border-radius:5px;padding-top:8px;padding-left:12px;padding-right:12px;overflow-x:hidden}.wit-comment-viewer .comment-content{color:rgba(0,0,0,.9);color:var(--text-primary-color,rgba(0, 0, 0, .9));word-wrap:break-word;font-size:14px;word-wrap:break-word;margin-bottom:20px}.wit-comment-viewer .comment-content>*:first-child:not(.bolt-table){margin-top:0}.wit-comment-viewer .comment-content>*:last-child:not(.bolt-table){margin-bottom:0}.wit-comment-viewer .comment-content table:not(.bolt-table){margin-top:10px;margin-bottom:10px}.wit-comment-viewer .comment-content table:not(.bolt-table).metadata-yaml-table{font-size:12px;line-height:1}.wit-comment-viewer .comment-content table:not(.bolt-table) th{border-style:solid;border-width:thin;border-color:rgba(166,166,166,1);border-color:rgba(var(--palette-neutral-30,166, 166, 166),1);padding:8px 10px}.wit-comment-viewer .comment-content table:not(.bolt-table) td{border-style:solid;border-width:thin;border-color:rgba(166,166,166,1);border-color:rgba(var(--palette-neutral-30,166, 166, 166),1);padding:8px 10px;min-width:50px;max-width:1000px}.wit-comment-viewer .comment-content table:not(.bolt-table) tr:nth-child(even){background:rgba(248,248,248,1);background:rgba(var(--palette-neutral-2,248, 248, 248),1)}.wit-comment-viewer .comment-content code{font-family:Menlo,Consolas,Courier New,monospace;font-size:12px;background-color:rgba(234,234,234,1);background-color:rgba(var(--palette-neutral-8,234, 234, 234),1);padding:2px 4px}.wit-comment-viewer .comment-content pre{white-space:pre;word-wrap:normal;background-color:rgba(234,234,234,1);background-color:rgba(var(--palette-neutral-8,234, 234, 234),1);padding:15px;overflow-x:auto}.wit-comment-viewer .comment-content pre code{padding:0}.wit-comment-viewer .comment-content blockquote{color:rgba(0,0,0,.55);color:var(--text-secondary-color,rgba(0, 0, 0, .55));border-left:solid;border-left-color:rgba(166,166,166,1) 3px;border-left-color:rgba(var(--palette-neutral-30,166, 166, 166),1) 3px;padding-left:15px;margin-left:0;margin-top:12px;margin-bottom:12px;padding-bottom:1px;padding-top:1px}.wit-comment-viewer .comment-content blockquote>p,.wit-comment-viewer .comment-content blockquote ol,.wit-comment-viewer .comment-content blockquote ul{margin:4px 0}.wit-comment-viewer .comment-content img{max-width:100%}.wit-comment-viewer .comment-content ul{padding-left:20px}.wit-comment-viewer .comment-content ul li.task-list-item{list-style-type:none;margin-left:-20px}.wit-comment-viewer .comment-content ol{padding-left:25px}.wit-comment-viewer .comment-content li{list-style:inherit}.wit-comment-viewer .comment-content li.task-list-item{min-height:18px}.wit-comment-viewer .comment-content .task-list input.task-list-item-checkbox{vertical-align:middle;margin:4px;float:none}.wit-comment-viewer .comment-content h1{font-family:"Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:28px;font-weight:300;border:none;margin:14px 0;line-height:1.2;margin-top:28px}.wit-comment-viewer .comment-content h1 .bowtie-icon{font-size:unset}.wit-comment-viewer .comment-content h1:first-child{margin-top:0}.wit-comment-viewer .comment-content h2{font-family:"Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:21px;font-weight:normal;border:none;margin:14px 0;line-height:1.2;margin-top:28px}.wit-comment-viewer .comment-content h2 .bowtie-icon{font-size:unset}.wit-comment-viewer .comment-content h3{font-family:"Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:17px;font-weight:600;border:none;margin:14px 0;line-height:1.2;margin-top:28px}.wit-comment-viewer .comment-content h3 .bowtie-icon{font-size:unset}.wit-comment-viewer .comment-content h4{font-family:"Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:15px;font-weight:600;border:none;margin:14px 0;line-height:1.2;margin-top:28px}.wit-comment-viewer .comment-content h4 .bowtie-icon{font-size:unset}.wit-comment-viewer .comment-content h5{font-family:"Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:14px;font-weight:600;border:none;margin:14px 0}.wit-comment-viewer .comment-content h5 .bowtie-icon{font-size:unset}.wit-comment-viewer .comment-content h6{font-family:"Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:12px;font-weight:600;border:none;margin:14px 0}.wit-comment-viewer .comment-content h6 .bowtie-icon{font-size:unset}.wit-comment-viewer .comment-content .toc-container{border:1px solid;border-color:rgba(0,0,0,.08);border-color:rgba(var(--palette-neutral-100,0, 0, 0),.08);border-radius:4px;display:inline-block;padding:10px 16px 10px 0;margin-bottom:14px;min-width:250px}.wit-comment-viewer .comment-content .toc-container .toc-container-header{font-weight:600;margin:0 16px 5px 16px}.wit-comment-viewer .comment-content .toc-container ul{list-style:none;margin:0;padding-left:16px;color:rgba(0,90,158,1);color:var(--communication-foreground,rgba(0, 90, 158, 1))}.wit-comment-viewer .comment-content .toc-container li::before{content:"\2022 "}.wit-comment-viewer .comment-content .toc-container a{margin-left:5px;display:inline-block;vertical-align:top;width:auto;max-width:400px;text-decoration:none;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal}.wit-comment-viewer .comment-content blockquote{margin-left:40px;border:none;color:rgba(0,0,0,.9);color:var(--text-primary-color,rgba(0, 0, 0, .9))}.wit-comment-viewer .comment-content>*{margin:0}.wit-comment-viewer .comment-content table{width:100% !important;table-layout:fixed}.wit-comment-viewer .comment-content pre table{width:auto !important;table-layout:auto}.wit-comment-viewer .comment-content pre table:not(.bolt-table) td{max-width:none}.wit-comment-viewer .comment-header-right{white-space:nowrap;font-size:14px;margin:4px}.wit-comment-viewer .comment-header-right .comment-edit-button,.wit-comment-viewer .comment-header-right .comment-context-menu-button button,.wit-comment-viewer .comment-header-right .comment-toolbar-reaction-button button{padding:4px}.wit-comment-viewer .comment-header-left{display:flex;justify-content:flex-start;max-width:85%;margin-top:4px}.wit-comment-viewer .comment-header-left .user-display-name{margin-right:5px;color:rgba(0,0,0,.55);color:var(--text-secondary-color,rgba(0, 0, 0, .55));font-weight:bold;flex:1 1 auto;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.wit-comment-viewer .comment-header-left .comment-timestamp{flex:0 0 100%;font-size:85%;color:rgba(0,0,0,.55);color:var(--text-secondary-color,rgba(0, 0, 0, .55));line-height:17px;white-space:nowrap}.wit-comment-viewer .comment-header{overflow-x:auto;overflow-y:hidden;position:relative;height:34px;display:flex;justify-content:space-between;margin-bottom:4px;font-size:14px}.wit-comment-viewer .comment-toolbar{opacity:0}.wit-comment-viewer:hover .comment-toolbar,.wit-comment-viewer .comment-toolbar.comment-action-buttons-visible,.wit-comment-viewer .comment-toolbar-focused{opacity:1}.form-dark-theme .wit-comment-viewer .comment-content *:not(.mention-preview-person):not(.mention-link):not(.work-item-type-icon-host):not(.work-item-type-icon):not(.mention-widget-workitem-typeid):not(.mention-widget-workitem-title):not(.workitem-state-color){background-color:rgba(255,255,255,1) !important;background-color:var(--background-color,rgba(255, 255, 255, 1)) !important;color:rgba(0,0,0,.9) !important;color:var(--text-primary-color,rgba(0, 0, 0, .9)) !important}

/* CSS file: WorkItemTracking/Controls/WorkItemForm/Comments/CommentItem */
.wit-comment-item{min-height:32px;margin-bottom:7px;position:relative;clear:both}.wit-comment-item .cursor-hover-card:hover{cursor:pointer}.wit-comment-item .comment-item-left{position:absolute;top:0;left:0}.wit-comment-item .avatar-button{background:rgba(248,248,248,1);background:rgba(var(--palette-neutral-2,248, 248, 248),1);border:0;padding:0;margin:0;height:28px;width:28px;margin-top:4px;border-radius:14px;outline:none}.wit-comment-item .avatar-button:focus:after{content:"";position:absolute;top:0;right:0;bottom:0;left:0;pointer-events:none;border:1px solid;border-color:rgba(0,0,0,1);border-color:rgba(var(--palette-neutral-100,0, 0, 0),1)}.wit-comment-item .avatar-button-image{height:28px;width:28px;border-radius:14px}.wit-comment-item .comment-item-right{margin-left:34px}

/* CSS file: WorkItemTracking/Controls/WorkItemForm/Comments/NewCommentItem */
.wit-comment-item{margin-bottom:7px}.wit-comment-item .avatar-button{margin-right:6px}.wit-comment-viewer .comment-content blockquote[style]{margin-left:40px;border:none;color:rgba(0,0,0,.9);color:var(--text-primary-color,rgba(0, 0, 0, .9))}.form-dark-theme .wit-comment-viewer .comment-content *:not(.mention-preview-person):not(.mention-link):not(.work-item-type-icon-host):not(.work-item-type-icon):not(.mention-widget-workitem-typeid):not(.mention-widget-workitem-title):not(.workitem-state-color){background-color:rgba(255,255,255,1) !important;background-color:var(--background-color,rgba(255, 255, 255, 1)) !important;color:rgba(0,0,0,.9) !important;color:var(--text-primary-color,rgba(0, 0, 0, .9)) !important}

/* CSS file: WorkItemTracking/Controls/WorkItemForm/Comments/CommentsSection */
.comments-section{overflow-y:auto;position:relative;min-height:75px}.comments-section .comments-page-control{overflow:hidden;padding:8px 0}.comments-section .comments-page-control a{outline:0}.comments-section .spinner-container{overflow:hidden}.comments-section .comments-show-more{background:rgba(255,255,255,1);background:var(--background-color,rgba(255, 255, 255, 1));color:rgba(0,90,158,1);color:var(--communication-foreground,rgba(0, 90, 158, 1));font-size:12px;font-weight:inherit;margin-left:3px;padding:1px 1px 0;border:none}.comments-section .comments-show-more:hover,.comments-section .comments-show-more:focus{text-decoration:underline}

.avatar-button{
	height: 40px;
}
.mention-preview-person {
    color: rgba(16,110,190,1);
    color: rgba(var(--palette-primary-shade-10,16, 110, 190),1);
    font-weight: bold;
    background-color: rgba(244,244,244,1);
    background-color: rgba(var(--palette-neutral-4,244, 244, 244),1);
}

.mention-preview-person-clickable {
    cursor: pointer;
}

body {
    background-color: rgb(255, 255, 255);
    color: white;
	margin: 10px;
    border-left: thick double #ffffff;			
    font-family: "Segoe UI VSS (Regular)","-apple-system",BlinkMacSystemFont,"Segoe UI",sans-serif;
}

#maincontent{
	padding-left: 1.5em;
	padding-right: 1.5em;
}


/* DivTable.com */
.divTable{
	display: table;
	width: 75%;
}
.divTableRow {
	display: table-row;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
	background-color: #f3f2f1;
}
.divTableHeading {
	 background-color: #EEE;
	/*display: table-header-group;
	font-weight: bold; */
	display: table-row;
	font-weight: bold;
	text-align: center;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.rTable    { display: table;width: 100%; }
.rTableRow       { display: table-row; }
.rTableHead    { display: table-header-group; font-weight: bold;}
.rTableBody    { display: table-row-group; }
.rTableFoot    { display: table-footer-group; }
.rTableCell, .rTableHead  { display: table-cell;  	
	padding: 3px 10px;
	border: 0px ;
	vertical-align: top; 
	white-space:nowrap;
	overflow-x:auto; 
	overflow-y:hidden;}

#headbox{
	width:100%; 
	height: 80px;
	display: table;
	border: 0px solid;
	border-color:rgba(var(--palette-neutral-8,234,234,234),1);
	border-radius:5px;
}
/* .leftcolumn { 
	 width:70%;
	padding:0px;
    white-space:nowrap;
	overflow-x:auto;
	height:70px;
	overflow-y:hidden;
}  */
.centercolumn{ 

	width:15%; 
	vertical-align: center; 

} 
.rightcolumn{ 
	width:15%; 
	vertical-align: center; 

} 

#versionContainer{float: right;}
#feedbackContainer{float: center;}

#nocontent
{
	font-size: 16px;
}

.discussion-messages-container{
	overflow-y:auto ;
	position:fixed;
	height: 100%;
	width:95%;
	padding-bottom: 20px;
	padding-top: 10px;

}
.discussion-messages{
	padding-right: 10px;
}
.avatar-button-image{
	height: 28px;
	width: 28px;
	border-radius: 14px;
}
.contributors{

    display: flex;
	flex-direction: row;
	/* padding-left: 10px;
	padding-top: 5px; */
	/* width: 100px;
	height: 180px; */
    /* margin:5px; */
    /* display:inline-block */
	
}

.contributors .button{
	height: 35px;
}
#list-comment-items{
	padding-top:10px;
}
.filterSelection{
	padding-top:5px;
}

